body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
*{font-family: 'Gelasio', serif;}

.menu {
    width: 250px;
    height: 50%;
    background-color: #4CB8C4; 
    position: fixed;
    top: 10 px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 2px solid #fff; 
    
}

.logo img {
    width: 80px; 
    border: 2px solid #fff; 
    border-radius: 50%; 
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
    border-top: 1px solid #fff; 
    padding: 10px 0; 
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

